.content {
    display: block;
    height: 483px;
    width: 640px;
    background-image:  url("../sanchez.png");
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    margin: 0 auto;
    background-position: center;
    box-shadow: 0 8px 17px 2px rgb(0, 0, 0, 0.1)
}
.text {
    
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: left;
    color: #f7e6e6f6;
    font-weight: bold;
    text-shadow: 1px 0.5px rgba(53, 11, 11, 0.829);
}
a {
    text-decoration: none;
    text-decoration: underline;
    font-weight: bold;
    color: #f7e6e6f6;
}
.map {
    display: block;
    text-align: left;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6;
    border-left: 3px solid #EBEBEB;
    vertical-align: bottom;
}
.date {
    position: relative;
    font-style: italic;
}
